/* ------------------------- styles.css ------------------------- */

/* ------------------------- FONTS ------------------------- */

@font-face {
    font-family: 'elden-ring';
    src: url('/ressources/fonts/Mantinia Regular.otf');
}

@font-face {
    font-family: 'dark-souls';
    src: url('/ressources/fonts/OptimusPrincepsSemiBold.ttf');
}

/* ------------------------- BODY ------------------------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'dark-souls', serif;

    /* BACKGROUND */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    transition: background-image 3s;
}

/* ------------------------- NAVBAR ------------------------- */
#navbar{
    position: sticky;
    top:0;
}

/* ------------------------- TITRE PRINCIPALE ------------------------- */

#titre-princiale{
    font-size: 120px;
}

#titre-princiale-menu{
    font-size: 30px;
}

#titre-princiale, #titre-princiale-menu{
    color: #d5d51f;
    font-family: 'elden-ring', serif;
    text-shadow: 5px 5px black;
}

#sous-titre{
    font-size: 2.5rem;
    text-shadow: 2px 2px white;
}

/* ------------------------- BARRE DE RECHERCHE ------------------------- */
#search-input{
    width: 90%;
}


/* ------------------------- TEXTES ------------------------- */

h1,h3 {
    text-align: center;
}

/* Conteneurs */

.card-title{
    font-size: 1.25rem;
}

.card-title, #sous-titre {
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/* ------------------------- FOOTER ------------------------- */

footer {
    background-color: #343a40; /* Same as bg-dark in Bootstrap */
    color: #ffffff; /* Text color white */
    padding: 1%;
    text-align: center;
    margin: 8%;
    bottom: 0;
}

/* ------------------------- IMAGES ------------------------- */

.img-icon{
    width: 30px;
}

/* ------------------------- FORMULAIRES ------------------------- */

.form-group{
    margin: 10%;
}

.nav-item{
    align-content: center;
}

/* https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ */
.InputAddOn {
    display: flex;
    margin-bottom: 1.5em;
}

.InputAddOn-field {
    flex: 1;
}
.InputAddOn-field:not(:first-child) {
    border-left: 0;
}
.InputAddOn-field:not(:last-child) {
    border-right: 0;
}

.InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #ffffe6;
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0;
}

/* ------------------------- BOOSTRAP ALERTS ------------------------- */

/* https://getbootstrap.com/docs/3.4/components/#alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* ------------------------- / ------------------------- */