/* ------------------------- styles.css ------------------------- */

/* ------------------------- FONTS ------------------------- */

@font-face {
    font-family: 'elden-ring';
    src: url('/ressources/fonts/Mantinia Regular.otf');
}

@font-face {
    font-family: 'dark-souls-SemiBold';
    src: url('/ressources/fonts/OptimusPrincepsSemiBold.ttf');
}

@font-face {
    font-family: 'dark-souls';
    src: url('/ressources/fonts/OptimusPrincepsSemiBold.ttf');
}

/* ------------------------- BODY ------------------------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'dark-souls', serif;
    color: #fff;


    /* BACKGROUND */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    transition: background-image 3s;
}

/* ------------------------- HEADER ------------------------- */

header{
    position: relative;
    top:0;
    padding-bottom: 3%;
}

/* ------------------------- MAIN ------------------------- */

main{
    width: 80%;
}

/* ------------------------- NAVBAR ------------------------- */

.nav-item.hidden {
    display: none;
}
.nav-item.slide-in {
    animation: slideIn 0.5s forwards;
}
.nav-item.slide-out {
    animation: slideOut 0.5s forwards;
}
@keyframes slideIn {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
@keyframes slideOut {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(-100%); opacity: 0; }
}

/* ------------------------- BARRE DE RECHERCHE ------------------------- */

#search-input{
    width: 90%;
}

/* ------------------------- TITRE PRINCIPALE ------------------------- */

#titre-princiale{
    font-size: 120px;
}

#titre-princiale-menu{
    font-size: 30px;
}

#titre-princiale, #titre-princiale-menu{
    color: #d5d51f;
    font-family: 'elden-ring', serif;
    text-shadow: 5px 5px black;
}

#sous-titre{
    font-size: 2.5rem;
    text-shadow: 2px 2px white;
    color: #000000;
}

/* ------------------------- TEXTES ------------------------- */

h1,h3 {
    text-align: center;
}

/* Conteneurs */

.card{
    width: 50%;
}

.card-title{
    font-size: 1.25rem;
}

.card-title, #sous-titre {
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/* ------------------------- FOOTER ------------------------- */

footer {
    background-color: #343a40; /* Same as bg-dark in Bootstrap */
    color: #ffffff; /* Text color white */
    padding: 1%;
    text-align: center;
    margin: 8%;
    bottom: 0;
}

/* ------------------------- ICONES ------------------------- */

.img-icon{
    width: 30px;
}

/* ------------------------- FORMULAIRES ------------------------- */

.conteneur, form{
    margin: 0 auto;
    padding: 2%;
    background-color: #2a2a2a;
    border-radius: 30px;
    box-shadow: 2px 2px 1px white;
    text-align: center;
}

form{
    max-width: 38%;
}

#build-form{
    max-width: 80%;
}

.formulaire{
    background-color: #1a1a1a;
}


section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input#build-name{
    width: 25%;
}

.equipment, .stats {
    display: flex;
    justify-content: space-between;
}

.equipment-category, .stats div {
    flex: 1;
    margin-right: 10px;
}

.equipment-category:last-child, .stats div:last-child {
    margin-right: 0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.nav-item{
    align-content: center;
}

/* Formulaires Users */

/* https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ */
.InputAddOn {
    display: flex;
    margin-bottom: 2.5em;
}

.InputAddOn-field {
    flex: 1;
}
.InputAddOn-field:not(:first-child) {
    border-left: 0;
}
.InputAddOn-field:not(:last-child) {
    border-right: 0;
}

.InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #ffffe6;
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
    border: 1px solid rgba(230, 228, 221, 0.25);
    border-radius: 10px 10px;
    padding: 0.5em 0.75em;
    margin-right: 4%;
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 10px 10px;
}

/* ------------------------- BULLE PARAM ------------------------- */

.tooltip-content {
    display: none; /* Caché par défaut */
    position: absolute;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* ------------------------- BOOSTRAP ALERTS ------------------------- */

/* https://getbootstrap.com/docs/3.4/components/#alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* ------- Media Queries ------- */
/* ------- (DOIT TOUJOURS ETRE A LA FIN) ------- */

@media (max-width: 600px)
{
    #titre-princiale{
        font-size: 600%;
        height:50%;
    }

    #titre-princiale-menu{
        font-size:150%;
    }

    #sous-titre{
        font-size:200%;
    }
}

/* ------------------------- / ------------------------- */
